@model DomainModel.Schedule


@{
    ViewBag.Title = "DriverDetail";
}

<h4>Dyspozycyjność</h4>

<table class="table table-sm table-hover">
    <thead class="thead-default">
        <tr>
            <th>Poniedziałek</th>
            <th>Wtorek</th>
            <th>Środa</th>
            <th>Czwartek</th>
            <th>Piątek</th>
            <th>Sobota</th>
            <th>Niedziela</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(x => x.Monday)</td>
            <td>@Html.DisplayFor(x => x.Tuesday)</td>
            <td>@Html.DisplayFor(x => x.Wednesday)</td>
            <td>@Html.DisplayFor(x => x.Thursday)</td>
            <td>@Html.DisplayFor(x => x.Friday)</td>
            <td>@Html.DisplayFor(x => x.Saturday)</td>
            <td>@Html.DisplayFor(x => x.Sunday)</td>
        </tr>             
    </tbody>
</table>

@Html.ActionLink("Powrót", "Back", "Schedules", null, new { @class = "btn btn-primary" })