@model DomainModel.Reservation

@{
    ViewBag.Title = "Reservation";
}

<div>
    <h3>Rezerwacja miejsca na przejazd @Html.Raw(ViewBag.Name) o godzinie @Html.Raw(ViewBag.Hour)</h3>
    <h4>Rezerwujący: @Html.Raw(ViewBag.Client)</h4>

    @using (Html.BeginForm("SaveReservation", "Reservations", 
        new { name = @ViewBag.Name, hour = @ViewBag.Hour}, FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Imię i nazwisko pasażera:
            <div class="col-md-10">
                @Html.EditorFor(model => model.PassengerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PassengerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Data:
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })*@
                <input type="text" name="date" id="date" class="form-control" placeholder="dd-MM-yyyy" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
                @*@Html.ActionLink("Zarezerwuj", "SaveReservation")*@
            </div>
        </div>
    }

</div>

