@model IEnumerable<DomainModel.BusRoute>

@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        @*$('button.params').on('click', function(_name, _hour){
            $.get('@Url.Action("Reservation", "Reservations", new { name=_name, hour=_hour })
            )});*@
        function sendParams(elem){
            var _name = $(elem).attr("name");
            var _hour = $(elem).attr("hour");

            var _link = "/Reservations/Reservation?name=" + _name + "&hour=" + _hour;

            window.location.href = _link;
            @*@Url.Action("Reservaton", "Reservations", new { name = _name, hour = _hour});*@
        }
    </script>
}
<div class="container">
    <div id="accordion" role="tablist" aria-multiselectable="true">
        @foreach (var item in Model)
        {
            string collapseId = "collapse" + item.Id;
            string headerId = "header" + item.Id;

            <div class="card">
                <div class="card-header" role="tab" id="@headerId">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                            @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Price, new { @class= "text-success" }) 
                        </a>
                    </h5>
                </div>

                <div id="@collapseId" class="collapse" role="tabpanel" aria-labelledby="@headerId">
                    <div class="card-block">
                        <table class="table table-sm table-hover">
                            <thead class="thead-default">
                                <tr>
                                    

                                    <th>Przystanek początkowy</th>
                                    <th>Następny przystanek</th>
                                    <th>Cena</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var _stop in item.Stops)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => _stop.FirstStop)</td>
                                        <td>@Html.DisplayFor(modelItem => _stop.LastStop)</td>
                                        <td>@Html.DisplayFor(modelItem => _stop.Price)</td>
                                    </tr>
                                }       
                            </tbody>
                        </table>
                        <hr />
                        @foreach (var _hour in item.DepartDates)
                        {
                            var _dispHour = _hour.DDate.ToString("H:mm");                                            //onclick="sendParams($(this).attr('name'))                                           
                            //<button type="button" class="btn btn-primary params" name="@item.Name" hour="@_dispHour" onclick="sendParams(this)">@_dispHour</button>
                            @Html.ActionLink(@_dispHour, "Reservation", "Reservations", new { @name = item.Name, @hour = _dispHour }, new { @class="btn btn-primary", @style="margin-right:10px" })
                        }
                    </div>
                </div>
            </div>
            <hr />
        }             
    </div>
</div>